@import '../../styles//variables';


main {
    background-color: $very-dark-blue;
}

.todo {
    max-width: 60rem;
    margin: 0 auto;
    min-height: 100vh;
    transform: translateY(-21rem);


    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;

        &-content {
            font-size: 4rem;
            font-weight: 700;
            color: $light-grayish-blue-secondary;
            text-transform: uppercase;
        }
    }

    &__theme {

    }




    &__container {
        position: relative;
        margin-top: 2rem;
        border-radius: 5px;
        overflow: hidden;
        z-index: 100;
        box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); 
    }

    &__list {

    }


    &__item {
        border-radius: 0 !important;
        border-bottom: 1px solid $very-dark-grayish-blue-secondary;
    }

    &__status {
        font-size: 1.5rem;
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $very-dark-grayish-blue-secondary;   
        background-color: $very-dark-desaturated-blue;


        &-content {
            display: flex;
            grid-gap: 1rem;
        }
    }

    &__left {

    }

    &__completed {

    }
}


.todo-create, .todo__item {
    display: flex;
    align-items: center;
    grid-gap: 2rem;
    padding: 2rem;
    background-color: $very-dark-desaturated-blue;
    border-radius: 5px;

    & small {
        font-size: 2rem;
        font-weight: 400;
        color: $light-grayish-blue-primary;
    }
    
    & span {
        background: inherit;
        width: 28px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid $light-grayish-blue-primary;
    }
    
    &__input {
        width: 100%;
        background: none;
        border: none;
        font-size: 2.3rem;

        &:focus-visible {
            outline: none;
        }

        &::placeholder {
            color: $very-dark-grayish-blue-secondary;
            font-weight: 400;
            font-size: 2rem;
        }
    }   
}