@import '../../styles//variables';


.todo-create {
    display: flex;
    align-items: center;
    grid-gap: 2rem;
    padding: 2rem;
    background-color: $very-dark-desaturated-blue;
    border-radius: 5px;

    &.light {
        background-color: $very-light-gray;
    }

    & span {
        background: inherit;
        width: 28px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid $light-grayish-blue-primary;

        &.light {
            border: 1px solid $dark-grayish-blue-primary;
        }
    }
    
    &__input {
        width: 100%;
        background: none;
        border: none;
        font-size: 2.3rem;
        color: $light-grayish-blue-secondary;

        &.light {
            color: $very-dark-grayish-blue-primary;
        }

        &:focus-visible {
            outline: none;
        }

        &::placeholder {
            color: $very-dark-grayish-blue-secondary;
            font-weight: 400;
            font-size: 2rem;
        }
    }   
}